.card {
  display: flex;
  box-shadow: 0 5px 18px 3px var(--palette-black-10);
  background: var(--theme-card-bg-color);
  height: 400px;
}

.card__summary {
  display: flex;
  margin: 0;
  padding: 3rem 2rem;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  font-size: var(--font-size-large);
}

.card__logo {
  filter: brightness(0) invert(1);
  margin-bottom: 2rem;
}

html[data-theme="light"] .card__logo {
  filter: brightness(0) opacity(0.8);
}

.card__author {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card__cta {
  align-self: start;
}

.card__illustration {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.card__illustration > img {
  height: 400px;
  width: auto;
}

@media (max-width: 996px) {
  .card {
    max-width: 600px;
    margin: 0 auto;
    flex-direction: column-reverse;
    height: auto;
    width: auto;
  }
  .card__illustration > img {
    height: auto;
    width: auto;
  }
}
