.logo {
  display: flex;
  padding-bottom: 0;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  transform: scale(0.8);
}

.logo__padded {
  padding-bottom: 50px;
}

.logo__wrapper {
  display: flex;
  padding: 0.1rem 0.1rem;
  justify-content: center;
  flex: 1 0 auto;
  filter: brightness(0) invert(1);
  transition: filter var(--ifm-transition-fast) ease-out;
}

.logo__wrapper:hover {
  filter: none;
}

@media (max-width: 996px) {
  .logo__wrapper {
    min-width: 45%;
    flex: 1;
  }
}
