.benchmarkButton {
  margin-left: 10px;
}

.star_fork_layout{
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.star__fork{
  margin-left: 10px;
}

.brand {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.brand:hover{
  text-decoration: none;
}
.brand:link{
  text-decoration: none;
}
.brand:visited{
  text-decoration: none;
}
.brand:active{
  text-decoration: none;
}

.brand_logo {
  display: flex;
  flex-direction: row;
  border: 0;
  height: 40px;
  margin-right: 10px;
  white-space: nowrap;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.brand_name {
  font-size: 1.5rem;
  border: 0;
  white-space: nowrap;
  text-decoration: none;
}

.brand_name:hover{
  text-decoration: none;
}
.brand_name:link{
  text-decoration: none;
}
.brand_name:visited{
  text-decoration: none;
}
.brand_name:active{
  text-decoration: none;
}

:global(html[data-theme="light"]) .brand {
  text-decoration: none;
}

.inner {
  margin: 0 auto;
  padding: 0 var(--ifm-spacing-horizontal);
  background: var(--theme-navbar-background-color);
}

.navbar {
  --ukraine-yellow: #222222;
  --ukraine-blue: #222222;
  background: linear-gradient(
    0,
    var(--ukraine-yellow),
    var(--ukraine-yellow) 50%,
    var(--ukraine-blue) 50%,
    var(--ukraine-blue) 100%
  );
}

@media screen and (min-width: 1740px) {
  .inner{
    border-radius: var(--ifm-global-border-radius);
  }
}

:global(.navbar__item--slack),
:global(.navbar__item--github) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

:global(.navbar__item--slack:before),
:global(.navbar__item--github:before) {
  position: relative;
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

:global(.navbar__item--github:before) {
  background: url("/img/navbar/github.svg") 0 center / 20px 20px no-repeat !important;
}

:global(.navbar__item--slack:before) {
  background: url("/img/navbar/slack.svg") 0 center / 18px 18px no-repeat !important;
}

/* Remove Algolia shorcuts */
:global(.DocSearch-Button-Key) {
  display: none !important;
}

:global(.navbar__link),
:global(.dropdown__link) {
  white-space: nowrap;
  font-size: var(--ifm-font-size-base);
}

.themeToggleInSidebar {
  display: none;
  margin: 0 1rem 0 auto;
}

@media(max-width: 420px) {
  .themeToggleInSidebar {
    display: block;
  }

  .themeToggleInHeading {
    display: none;
  }
}

@media (max-width: 750px) {
  :global(.DocSearch-Button) {
    margin: 0 !important;
  }

  :global(.navbar__brand) {
    margin: 0;
  }

  .benchmarkButton {
    display: none;
  }

  .themeToggleInHeading {
    margin-right: 1rem;
  }
}

@media (max-width: 996px) {
  :global(.navbar__item.navbar__item--slack),
  :global(.navbar__item.navbar__item--github) {
    display: none;
  }
  .benchmarkButton {
    display: none;
  }
}

/* prevent navbar right side to climb up on the left side, by shrinking the search bar */
@media (min-width: 997px) and (max-width: 1027px), (min-width: 1201px) and (max-width: 1300px) {
  :global(.DocSearch-Button-Keys) {
    display: none;
  }
}

@media (min-width: 996px) and (max-width: 1200px) {
  :global(.navbar__link) {
    --ifm-navbar-item-padding-horizontal: 0.85rem;
  }

  :global(.navbar__brand) {
    margin-right: 0.85rem;
  }

  :global(.DocSearch-Button) {
    margin-left: 0.85rem;
  }
  .benchmarkButton {
    display: none;
  }
}

@media (min-width: 1740px) {
  .inner {
    max-width: 1500px
  }
}

