.property {
  position: relative;
  padding-left: 2.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
  list-style: none;
}

.property::before {
  position: absolute;
  height: 100%;
  width: 2.5rem;
  left: 0;
  top: -2px;
  content: " ";
  background-image: url("/img/pages/index/tick.svg?inline");
  background-position-x: -6px;
  background-position-y: 0;
  background-repeat: no-repeat;
}

.property:last-child {
  margin-bottom: 0;
}
